groups:
  - name: dora_metrics
    interval: 1m
    rules:
      # Счётчик деплоев - для графика "деплоев в день"
      - record: dora:deployment_count:total
        expr: count by (project, environment) (deployment_created_seconds{job="dora_metrics"})

      # Счётчик failures - для графика CFR по времени
      - record: dora:deployment_failure_count:total
        expr: count by (project, environment) (deployment_failure_created_seconds{job="dora_metrics"})

      # Средний Lead Time
      - record: dora:lead_time:avg
        expr: avg by (project, environment) (deployment_lead_time_seconds{job="dora_metrics"})

      # Средний MTTR
      - record: dora:mttr:avg
        expr: avg by (project, environment) (incident_recovery_time_seconds{job="dora_metrics"})

      # Change Failure Rate (%)
      - record: dora:change_failure_rate:percent
        expr: |
          (
            count by (project, environment) (deployment_failure_created_seconds{job="dora_metrics"})
            /
            clamp_min(count by (project, environment) (deployment_created_seconds{job="dora_metrics"}), 1)
          ) * 100
